body {
  background-color: #020A5B;
  color: white;
}
td {
  background-color: white;
  color: black;
}
th {
  color: white;
}
#canvas {
  background-color: white;
margin-left: 15em;
}
.chart{
  display: none;
}
.chart>h1{
  margin-left: 6em;
}
#analysis{
  width: 8em;
  height: 2em;
  font-size: 1.5em;
  margin-left: 18em;
}
#analysis:hover{
  background-color: white;
  text-decoration: underline;
  color: black;
}
.cont{
  display: none;
}
.inputs1,
.inputs2 {
  color: black;
  display: none;
}
a{
  color: white;
}
a:hover{
  color: white;
  text-decoration: none;
}
#new,
#add {
  display: none;
}

#new {
  width: 10em;
}

#one,
#two {
  display: flex;
}

#new2,
#add2 {
  display: none;
}

#new2 {
  width: 10em;
}

h1 {
  font-size: 3em;
  margin-left: 3em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin-left: 11em;
}

.well {
  height: 20em;
  margin-top: 5em;
  font-size: 1em;
}

input {
  width: 7em;
  margin-top: 3.9em;
  margin-left: 1em;
}

.col-md-6 {
  width: 40em;
}

.btn {
  font-size: 0.8em;
}

#bnt1, #bnt2 {
  width: 10em;
  height: 2.5em;
  font-size: 0.9em;
}

.form-group {}

#new-category {
  margin-top: 2em;
  width: 10em;
}

#new-category2 {
  margin-top: 2em;
  width: 10em;
}
