.container{
  width: 103%;
  font-size: 2em;
  color: white;
  margin-left: -0.4em;
}
body{
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Poppins', sans-serif;
}
a{
  color: white;
  font-size: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}
h1{
  margin-left: 1em;
}
nav{
  margin-bottom: 0;
  background-color: #020A5B;
}
.dropped{
  font-size: 1em;
}
.carousel-inner{
  margin-top: -7em;
  z-index: -99;
}
.left{
  height: 5em;
  margin-top: 14em;
}
.right{
  height: 5em;
  margin-top: 14em;
}
#about{
  display: none;
  margin-left: 10em;
  margin-right: 10em;
}
#logo{
  border-radius: 30px;
}
